<link rel="stylesheet" href="formulario-registro.component.css">

<div class="flex-container">
    <div class="title">
        <h1>FORMULARIO</h1>
    </div>
    <div class="tarjeta">
        <div class="input-group">
            <label class="label">Nombre</label>
            <input autocomplete="off" name="name" id="name" class="input" type="text" #input1>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label">Apellido</label>
            <input autocomplete="off" name="last_name" id="last_name" class="input" type="text" #input2>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label">Direccion E-mail</label>
            <input autocomplete="off" name="Email" id="email" class="input" type="email" #input3>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label">URL</label>
            <input autocomplete="off" name="url" id="url" class="input" type="url" #input4>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label">Contraseña</label>
            <input autocomplete="off" name="password" id="password" class="input" type="password" #input5>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label">Repita Contraseña</label>
            <input autocomplete="off" name="Rpassword" id="Rpassword" class="input" type="password" #input6>
            <div></div>
        </div>

    </div>
    <div class="padre-boton">
        <button (click)="registro(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value)">
            <span class="button_top">REGISTRARSE</span>
        </button>
    </div>

</div>