<div class="flex-container2">
    <div class="title2">
        <H2>MODIFICAR UN LIBRO</H2>
    </div>
    <div class="formulario">
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="name" id="name" class="input" type="text" placeholder="Titulo" #input1>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="last_name" id="last_name" class="input" type="text"
                placeholder="Tapa blanda/dura" #input2>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="Email" id="email" class="input" type="email" placeholder="Autor" #input3>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="name" id="name" class="input" type="text" placeholder="Precio" #input4>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="name" id="name" class="input" type="text" placeholder="Photo" #input5>
            <div></div>
        </div>
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="name" id="name" class="input" type="text" placeholder="Codigo Libro"
                #input6>
            <div></div>
        </div>
        <button on-click=updateLibro(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value)>
            <span class="button_top">MODIFICAR</span>
        </button>
    </div>



</div>

