<link rel="stylesheet" href="header.component.css">
<section class="flex-container">
    <a class="a-image"><img class="img" src="../../../assets/img/logo-removebg-preview.png" alt="Imagen de navbar"></a>

    <div class="padre-botones">
        <button>
            <span routerLink="home" class="button_top" *ngIf="usuarioService.logueado == false">HOME</span>
        </button>
        <button>
            <span routerLink="registro" class="button_top" *ngIf="usuarioService.logueado == false">REGISTRO</span>
        </button>
        <button>
            <span routerLink="perfil" class="button_top" *ngIf="usuarioService.logueado == true">PERFIL</span>
        </button>
        <button>
            <span routerLink="libros" class="button_top" *ngIf="usuarioService.logueado == true">LIBROS</span>
        </button>
        <button>
            <span routerLink="addlibro" class="button_top" *ngIf="usuarioService.logueado == true">AÑADIR LIBRO</span>
        </button>
        <button>
            <span routerLink="updatelibro" class="button_top" *ngIf="usuarioService.logueado == true">MODIFICAR LIBRO</span>
        </button>
        <button>
            <span routerLink="login" class="button_top" *ngIf="usuarioService.logueado == false">LOGIN</span>
        </button>

    </div>
</section>