<link rel="stylesheet" href="footer.component.css">


<section class="flex-container4">
    <div class="container4">
        <div class="padre-iconos">
            <div class="icons"><a href="https://www.instagram.com"><img class="img" src="../../../assets/img/logotipo-de-instagram black.png"></a></div>
        </div>
        <div class="padre-iconos">
            <div class="icons"><a href="https://www.facebook.com"><img class="img" src="../../../assets/img/facebook (1) black.png"></a></div>
        </div>
        <div class="padre-iconos">
            <div class="icons"><a href="https://www.linkedin.com"><img class="img" src="../../../assets/img/linkedin black.png"></a></div>
        </div>
        <div class="padre-iconos">
            <div class="icons"><a href="https://www.whatsapp.com"><img class="img" src="../../../assets/img/whatsapp (1) black.png"></a></div>
        </div>
    </div>
    <div class="container4">
        Copyright © 2010-2022 Charlie Styles . Todos los derechos reservados.
    </div>

</section>